.main_view
  %br
  =button_to "サイドバー表示/非表示", root_path, class: "btn", data: {action: "toggle", side: "left"}
  %br
  -# -if (btnstate == column)
    -# =column_chart Chart.where(name: current_user.name).pluck(:date, :weight), discrete: true, curve: false, min: 40, max: 100, xtitle: "date", ytitle: "weight"
  -# -if (btnstate == line)

  
  -# =line_chart Chart.where(name: current_user.name).pluck(:date, :weight), discrete: true, curve: false, min: 40, max: 100, xtitle: "date", ytitle: "weight"
  =render "/charts/index"
  -# =render "/calendars/index"