.field
  %a Name：
  =current_user.name
.field
  %a age：
  =current_user.age
.field
  %a email：
  = current_user.email
.field
  %a BMI：

.field
  %a metabolism：
%br

.input_area
  %textarea #(name="text" cols="30" rows="10")
  %textarea #(name="text" cols="30" rows="10")
%submit 計算
%br