a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  background-color: whitesmoke;
  .side_bar {
    z-index: 1;
    position: relative;
    background-color: rgb(250, 219, 239);
    height: 100vh;
    width: 30%;
    .app-name {
      height: 50px;
      width: 100%;
      background: radial-gradient(skyblue, #fff);
    }
    .fa-door-open {
      position: absolute;
      color: black;
      font-size: 16px;
      width: 20px;
      height: 20px;
      top: 30px;
      right: 10px;
    }
    .fa-cog {
      position: absolute;
      color: black;
      font-size: 16px;
      width: 20px;
      height: 20px;
      top: 30px;
      right: 40px;
    }

    .app-area {
      height: 70vh;
      overflow: scroll;
      .app1 {
        flex-wrap: wrap;
        width: 100%;
        display: inline-block;
        margin: 15px;
        text-decoration: none;
        font-size: 20px;
      }
      .app2 {
        flex-wrap: wrap;
        width: 100%;
        display: inline-block;
        margin: 15px;
        text-decoration: none;
        font-size: 20px;
      }
      .app3 {
        flex-wrap: wrap;
        width: 100%;
        display: inline-block;
        margin: 15px;
        text-decoration: none;
        font-size: 20px;
      }
    }

    .input-area {
      overflow: scroll;
      position: absolute;
      bottom: 0;
      background: radial-gradient(#fff, paleturquoise);
      width: 100%;
      height: 30vh;
      color: gray;
      input {
        display: inline-block;
      }
      &__text1 {
        margin-top: 10px;
        width: 100%;
        color: black;
      }
      &__text2 {
        width: 100%;
        color: black;
      }
      &__text3 {
        width: 100%;
        color: black;
      }

      .save-btn {
        height: 50px;
        padding: 10px 10px;
        line-height: 50px;
      }
    }
  }

  .main_view {
    position: absolute;
    overflow: scroll;
    float: right;
    margin-left: 30px;
    height: 100vh;
    width: 95%;

    input {
      font-size: 12px;
    }
    .db {
      //値を画面に表示されないようにbackgroundと同じcolor
      color: whitesmoke;
    }
  }
}
